<% posts.each do |obj| %>
        <div class="col-12 col-md-6 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="d-flex justify-content-end">
                <% if current_user.id == obj.user.id %>
                 <%= link_to post_path(info), method: :delete, class: "mr-2" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                  <%= link_to edit_post_path(info) do %>
                    <i class="fas fa-cog"></i>
                  <% end %>
                <% end %>
              </div>
              <h5 class="card-title text-center">
                <% if obj.title.length > 13 %>
                  <%= obj.title.slice(0,13) %> ...
                <% else %>
                  <%= obj.title %>
                <% end %>
              </h5>
              <p class="card-text">
                <span class="ellipsis-text" data-full-text="<%= obj.url %>">
                  <% if obj.url.length > 31 %>
                    <%= obj.url.slice(0,31) %> ...
                  <% else %>
                    <%= obj.url %>
                  <% end %>
                </span>
              </p>
              <small class="info-user d-flex justify-content-end">#<%= link_to obj.user.name, user_path(obj.user.id) %></small>
            </div>
          </div>
        </div>
    <% end %>