<div class="container">
  <h2 class="text-center mt-5">Trend</h2>
  <div class="row mx-auto d-flex justify-content-center mt-5">
    <% @posts.each do |info| %>
        <div class="col-12 col-md-6 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="d-flex justify-content-end">
                <% if current_user.id == info.user.id %>
                 <%= link_to post_path(info), method: :delete, class: "mr-2" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                  <%= link_to edit_post_path(info) do %>
                    <i class="fas fa-cog"></i>
                  <% end %>
                <% end %>
              </div>
              <h5 class="card-title text-center">
                <% if info.title.length > 13 %>
                  <%= info.title.slice(0,13) %> ...
                <% else %>
                  <%= info.title %>
                <% end %>
              </h5>
              <p class="card-text">
                <span class="ellipsis-text" data-full-text="<%= info.url %>">
                  <% if info.url.length > 31 %>
                    <%= info.url.slice(0,31) %> ...
                  <% else %>
                    <%= info.url %>
                  <% end %>
                </span>
              </p>
              <small class="info-user d-flex justify-content-end">#<%= link_to info.user.name, user_path(info.user.id) %></small>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<script>
  const ellipsisTexts = document.querySelectorAll('.ellipsis-text');

  ellipsisTexts.forEach((element) => {
    const fullText = element.getAttribute('data-full-text');
    const maxLength = 31;

    if (fullText.length > maxLength) {
      const truncatedText = fullText.slice(0, maxLength) + '...';
      element.textContent = truncatedText;

      element.addEventListener('click', () => {
        if (element.textContent === truncatedText) {
          element.textContent = fullText;
        } else {
          element.textContent = truncatedText;
        }
      });
    }
  });
</script>