<div class="container">
  <h2 class="text-center mt-5">Trend</h2>
  <div class="row mx-auto d-flex justify-content-center mt-5">
    <% @posts.each do |info| %>
        <div class="col-12 col-md-6 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <% if current_user.id == info.user.id %>
                <%= link_to "#", class: "edit-link d-flex justify-content-end", 'data-post-id': info.id do %>
                  <i class="fas fa-cog"></i>
                <% end %>
              <% end %>
              <h5 class="card-title text-center">
                <% if info.title.length > 13 %>
                  <%= info.title.slice(0,13) %> ...
                <% else %>
                  <%= info.title %>
                <% end %>
              </h5>
              <p class="card-text">
                <span class="ellipsis-text" data-full-text="<%= info.url %>">
                  <% if info.url.length > 31 %>
                    <%= info.url.slice(0,31) %> ...
                  <% else %>
                    <%= info.url %>
                  <% end %>
                </span>
              </p>
              <small class="info-user d-flex justify-content-end">#<%= info.user.name %></small>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div id="edit-modal" class="modal">
  <div class="modal-content">
    <%= render 'posts/edit' %>
  </div>
</div>

<script>
  const ellipsisTexts = document.querySelectorAll('.ellipsis-text');
  const editLinks = document.querySelectorAll('.edit-link');
  const modal = document.getElementById('edit-modal');
  const modalContent = modal.querySelector('.modal-content');

  ellipsisTexts.forEach((element) => {
    const fullText = element.getAttribute('data-full-text');
    const maxLength = 31;

    if (fullText.length > maxLength) {
      const truncatedText = fullText.slice(0, maxLength) + '...';
      element.textContent = truncatedText;

      element.addEventListener('click', () => {
        if (element.textContent === truncatedText) {
          element.textContent = fullText;
        } else {
          element.textContent = truncatedText;
        }
      });
    }
  });

  editLinks.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const postId = link.getAttribute('data-post-id');

      // ポップアップの内容をAjaxで取得して表示するなどの処理を行うことができます
      // 以下は単純な例として、ポップアップの内容を表示しています
      modalContent.textContent = `Edit Post ${postId}`;
      modal.style.display = 'block';
    });
  });
</script>